<%- include('partials/header') %>

<div class="secrets--div text-center">
  <div class="container">

    <h1 >Anonymous thoughts</h1>
    <% userWithSecrets.forEach(function(users){ %>
      <% users.secret.forEach(function(secret){ %>
        <div class="singleSecret">

            <p class="secret-text"><%=secret.secretText%></p>

          <form  action="/like" method="post">
            <input type="hidden" name="userid" value="<%=users._id%>">
            <input type="hidden" name="secretindex" value="<%=users.secret.indexOf(secret)%>">
              <button class="secret-button" type="submit" onClick="reloadThePage()" name="like" value="<%=secret.like+1%>"><i class="fa-regular fa-thumbs-up"></i></button>
          </form>
          <p class="like-count" >likes: <%=secret.like%></p>
        </div>


      <% }); %>

    <% }); %>



    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>
<!-- <script type="text/javascript">
  document.getElementsByClassName("secret-button").submit(function(e) {
    e.preventDefault();
});
</script> -->
<!-- <script>
function reloadThePage(){
    window.location.reload();
}
</script> -->

<%- include('partials/footer') %>
